* {
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #E74694;
  text-align: center;
  padding: 10px 0 15px;
  color: white;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navbar {
 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding-inline: 8vw;
  margin-top: 30px;
  position: sticky;
  top: 0;
  background-color: white;
}

.menu{
  display: flex;
  align-items: center;
}

.menu>ul {
  display: flex;
}

.menu ul {
  list-style-type: none;
}

.menu-items a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #183b56;
  font-family: Averta PE,sans-serif;
  line-height: 25px;
  text-align: center;
  font-size: 16px;
  transition: color 0.2s;
}

.menu a:hover {
color:  #2294ed;
}

.dropdown>.dropdown-menu {
  display: none;
  background-color: white;
  position: absolute;
}

.dropdown:hover .dropdown-menu {
  display: block;
  border-radius: 10px;
  border: 1px solid #f1f1f1d9;
}

.sign-in , .sign-up {
  background-color: white;
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  transition:all 0.2s linear;
}

.sign-in {
  color: #183b56;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid#b9cde4;
  margin-inline: 15px;
}

.sign-up {
  color: white;
  background-color: #2294ed;
  border: 1px solid #2294ed;
  font-weight: 700;
  font-size: 16px;
  box-shadow: gray;
  margin-inline: 15px;
}

.sign-in:hover {
  color: #2294ed;
  border-color: #2294ed;
}

.sign-up:hover , .get-started:hover {
  background-color: #183b56;
  border-color:  #183b56;
}

.breadcrumb {
  display: none;
}


.hero, .world-text {
  font-family: Averta PE,sans-serif;
  color: #183b56;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-inline: 8vw;
  margin-top: 30px;
}

.hero-col-1 {
  width: 40%;
}

.hero-col-1>h1 {
  font-size: 48px;
}

.hero-col-1>p {
  color: #577592;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
}

.hero-col-1>button {
  background-color: white;
  padding: 16px 28px;
  border-radius: 5px;
  border: none;
  transition:all 0.2s linear;
  color: white;
  background-color: #2294ed;
  border: 1px solid #2294ed;
  font-weight: 700;
  font-size: 16px;
  box-shadow: gray;
  margin-top: 40px;
}

.world-text {
  margin-top: 60px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.company-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: 8vw;
  margin-top: 30px;
}

.company-logos>img {
  height: 45px;
}

@media (max-width: 765px) {

  .hero {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  .hero-col-1>h1 , .hero-col-1>p {
    text-align: center;
  }

  .hero-col-2>img {
    height: 80%;
    width: 80%;
    margin-left: 10vw;
  }

  .company-logos>img{
    padding-inline: 20px;
    margin-top: 10px;
  }
  
  .breadcrumb{
    display: flex;
    width: 100%;
  }

 .breadcrumb +  .menu-items {
    display: none;
  }



  .menu:hover .menu-items {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    bottom: 0;
    position: fixed;
    left: 0;
    top: 100px;
    border: 2px solid rebeccapurple;
  }

  .menu:hover  .dropdown>.dropdown-menu {
    position: relative;
    left: 0;
  }

  .menu:hover button {
    width: 60%;
    margin-inline: auto;
  }

  .menu:hover .sign-in {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}


